<div class="search-container">
  <input type="text" placeholder="Search jobs..." [(ngModel)]="searchTerm" (input)="onSearchChange()" />
</div>

<div class="job-container">

  @for (job of jobPosts; track job.id) {

  <mat-card class="job-card">

    <mat-card-title>
      {{job.id}} {{ job.title }}
    </mat-card-title>

    <mat-card-content>

      <p class="description">
        {{ job.description }}
      </p>

      <p class="meta">
        <strong>Experience:</strong> {{ job.experience }} years
      </p>

      <p class="meta">
        <strong>Tech Stack:</strong>
      </p>
      <ul>
        @for (tech of job.techStack; track $index) {
        <li>{{ tech }}</li>
        }
      </ul>

      <mat-card-actions>
        <button mat-raised-button (click)="onDelete(job)">
          <i class="material-icons">delete</i>
        </button>
        <button mat-raised-button (click)="onEdit(job)">
          <i class="material-icons">edit</i>
        </button>
      </mat-card-actions>
    </mat-card-content>

  </mat-card>

  }

</div>