<h1>Form {{this.jobPost.toString()}}</h1>
<mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" (change)="onTitleChange($event)">
</mat-form-field>
<mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput type="text" (change)="onDescriptionChange($event)">
</mat-form-field>
<mat-form-field>
    <mat-label>Tech Stack</mat-label>
    <mat-select (selectionChange)="onTechStackChange($event)" multiple>
        @for (item of ["Core Java", "J2EE", "Spring Boot", "Hibernate"]; track $index) {
        <mat-option [value]="item">
            {{item}}
        </mat-option>
        }
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>Experience</mat-label>
    <input matInput type="number" (change)="onExperienceChange($event)">
</mat-form-field>
<button mat-raised-button color="primary" (click)="onJobCreate()">Create Job Post</button>